﻿@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = Texts.Forms.Membership.ChangePassword.FormTitle.ToString(Localizer);
    ViewData["PageId"] = "ChangePassword";
}

<div id="ChangePasswordPanel" class="s-container-tight mt-5 s-Form flex-layout">
</div>
<script type="text/javascript">
$(function() {
    new SerenityTutorialMovie.Membership.ChangePasswordPanel($('#ChangePasswordPanel')).init();
});
</script>