﻿@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = Texts.Forms.Membership.ForgotPassword.FormTitle.ToString(Localizer);
    ViewData["PageId"] = "ForgotPassword";
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<script id="Template_Membership_ForgotPasswordPanel" type="text/template">
    <h2 class="text-center p-4">
        <img src="@Url.Content("~/Content/site/images/serenity-logo-w-128.png")" 
            class="rounded-circle p-1" style="background-color: var(--s-sidebar-band-bg)"
            width="50" height="50" /> StartSharp
    </h2>

    <div class="s-Panel p-4">
        <h5 class="text-center mb-4">@Texts.Forms.Membership.ForgotPassword.FormTitle.ToString(Localizer)</h5>
        <p class="text-center">@Texts.Forms.Membership.ForgotPassword.FormInfo.ToString(Localizer)</p>
        <form id="~_Form" action="">
            <div id="~_PropertyGrid"></div>
            <button id="~_SubmitButton" type="submit" class="btn btn-primary mx-8 mt-2 w-100">
                @Texts.Forms.Membership.ForgotPassword.SubmitButton.ToString(Localizer)
            </button>
        </form>
    </div>
</script>

<div id="ForgotPasswordPanel" class="s-container-tight mt-5 s-Form flex-layout">
</div>
<script type="text/javascript">
$(function() {
    new SerenityTutorialMovie.Membership.ForgotPasswordPanel($('#ForgotPasswordPanel')).init();
});
</script>